* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .heroimg {
    background: url(../img/1.webp);
  height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
  }
  .heroimg h1 {
    font-size: 4rem;
    color: #3f3030;
  }

  .cont_img{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding: 2rem;
  }
  
  .cont_img img {
    height: 200px;
    width: 20rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
  }